<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749508458214-2kl18a69jr8siiqis92uhcdelcqi9u08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749508458214-2kl18a69jr8siiqis92uhcdelcqi9u08</string>
	<key>API_KEY</key>
	<string>AIzaSyCyp25LSSWseAHX8mK5W7uQo4t0YjJPwak</string>
	<key>GCM_SENDER_ID</key>
	<string>749508458214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sequel-ace.sequel-ace</string>
	<key>PROJECT_ID</key>
	<string>sequel-ace</string>
	<key>STORAGE_BUCKET</key>
	<string>sequel-ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749508458214:ios:ca0a58346019e8b6dced27</string>
	<key>DATABASE_URL</key>
	<string>https://sequel-ace.firebaseio.com</string>
</dict>
</plist>